@font-face {
  font-family: alpha;
  src: url(../public/font/JetBrainsMono-Bold.woff2);
}
@font-face {
  font-family: alpha;
  src: url(../public/font/NeueHaasGroteskText55Roman.woff2);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #222;
}
.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #555;
  z-index: 0;
}
nav {
  z-index: 99;
}